---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/123?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '42'
      Akamai-Grn:
      - 0.0e9eca17.1674896745.80f8d01
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-01-28T04:55:00-04:00","EpochTime":1674896100,"WeatherText":"Partly
        cloudy","WeatherIcon":35,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":25.0,"Unit":"C","UnitType":17},"Imperial":{"Value":77.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/aw/camacuri/121/current-weather/121?lang=en-us","Link":"http://www.accuweather.com/en/aw/camacuri/121/current-weather/121?lang=en-us"}]'
  recorded_at: Sat, 28 Jan 2023 09:05:45 GMT
recorded_with: VCR 6.1.0
