---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/0/historical/24?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Akamai-Grn:
      - 0.4fab3717.1674897044.1f999bf
    body:
      encoding: UTF-8
      string: '{"Code":"400","Message":"Invalid location key: 0","Reference":"/currentconditions/v1/0/historical/24.json"}'
  recorded_at: Sat, 28 Jan 2023 09:10:45 GMT
recorded_with: VCR 6.1.0
