---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/123/historical/24?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '40'
      Akamai-Grn:
      - 0.2d090f17.1674896832.17038150
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-01-28T04:55:00-04:00","EpochTime":1674896100,"WeatherText":"Partly
        cloudy","WeatherIcon":35,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":25.0,"Unit":"C","UnitType":17},"Imperial":{"Value":77.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/aw/camacuri/121/current-weather/121?lang=en-us","Link":"http://www.accuweather.com/en/aw/camacuri/121/current-weather/121?lang=en-us"},{"LocalObservationDateTime":"2023-01-28T03:55:00-04:00","EpochTime":1674892500,"WeatherText":"Partly
        cloudy","WeatherIcon":35,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":25.0,"Unit":"C","UnitType":17},"Imperial":{"Value":77.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/aw/camacuri/121/current-weather/121?lang=en-us","Link":"ht[...]
